<footer>
  <div class="row footer">
    <div class="col-md-4">
      <h4>Company</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate quae
        corporis, suscipit temporibus quisquam dolor!
      </p>
    </div>
    <div class="col-md-4 navigasi">
      <h4>Navigation</h4>
      <ul>
        <li>
          <a href="#header">Home</a>
        </li>
        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#services">Services</a>
        </li>
      </ul>
      
      
    </div>
    <div class="col-md-4">
      <h4>Follow Us</h4>
      <div class="medsos">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>
    </div>
  </div>
</footer>
